<div class="direction-selector">
  <div class="head">
    <h3>Próximas salidas</h3>
    <h4>{{ nowDateLabel }}</h4>
  </div>
  <h3>{{labelSelected}}</h3>
  <h5 (click)="toggleChoiceList()">Cambiar
    <span class="arrow glyphicon glyphicon-menu-right" aria-hidden="true" *ngIf="!showChoiceList"></span>
    <span class="arrow glyphicon glyphicon-menu-down" aria-hidden="true" *ngIf="showChoiceList"></span>
    <!-- <span class="arrow" *ngIf="!showChoiceList">&gt;</span>
    <span class="arrow" *ngIf="showChoiceList">v</span> -->
  </h5>
  <div class="choices" *ngIf="showChoiceList">
    <ul>
      <li
        *ngFor="let choice of choiceList"
        (click)='onChoiceSelect(choice.code)'>
        {{choice.label}}
      </li>
    </ul>
  </div>
</div>
