<div class="direction-selector">
  <div class="left">
    <h3>{{labelSelected}}</h3>
    <div class="change-direction" (click)="toggleChoiceList()">
      <span class="arrow glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
      <!-- <span class="arrow glyphicon glyphicon-menu-right" aria-hidden="true" *ngIf="!showChoiceList"></span>
      <span class="arrow glyphicon glyphicon-menu-down" aria-hidden="true" *ngIf="showChoiceList"></span> -->
    </div>
  </div>
  <div class="right">
    <h4>{{ nowDateLabel }}</h4>
  </div>
    <!-- <h3>Próximas salidas</h3> -->
  <div class="choices" *ngIf="showChoiceList">
    <ul>
      <li
        *ngFor="let choice of choiceList"
        (click)='onChoiceSelect(choice.code)'>
        {{choice.label}}
      </li>
    </ul>
  </div>
</div>
