<div class="page-header">
  <div class="row">
    <div class="col-md-9">
      <img src="assets/img/cercedilla_escudo.png" alt="Escudo de Cercedilla">
      <h1>El Intercambiador <small>Cercedilla</small></h1>
    </div>

    <div class="col-md-3">
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Quienes somos</a></li>
            <li><a href="#">Contacto</a></li>
         </ul>
        </div>
    </div>
  </div>

</div>
