@import '../../../assets/styles/variables.scss';

.loading {
  padding:2em;
  .fa-spin {
    color:$light-blue;
  }
}

.tipo-bus {
  @include bus-icon-bg;
  background-position: 1.2em 0.3em;
  @include handset {
    background-position: 0.3em 0.1em;
  }
}

.tipo-tren {
  @include tren-icon-bg;
  background-position: 1.2em 0.3em;
  @include handset {
    background-position: 0.3em 0.1em;
  }
}

.content {
  &.one-direction {
    max-height: 25em;
    // display: inline-block;
    overflow: scroll;
    border-radius: 5px;
    .more {
      position: absolute;
      background-color: $light-blue;
      opacity: .4;
      top: 26.7em;
      width: 93%;
      left: 1.2em;
      overflow: hidden;
    }
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
    // border-radius: 10px;
    // border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    overflow:hidden;
    padding: 0px;
    font-size: 1.2em;


    tr {
      background-color: $light-grey;
      text-align: left;
      &:first-child {
        text-align: center;
      }
      &:hover {
        background-color: $grey-2;
      }

      td,th {
        &:first-child {
          text-align: center;
        }
        &:nth-child(2) {
          @include handset {
            font-size: 0.9em;
            span.en {
              font-size: 0.7em;
              display: block;
            }
          }
        }
        &:nth-child(3) {
          font-size: 0.8em;
        }

        span.glyphicon {
          color: $grey;
        }
      }

    }
  }
}
