<div>

  <div class="" *ngIf="!departures">
    Loading...
  </div>

  <!-- <pre style="font-size:0.7em;text-align:left;">{{departures | json}}</pre> -->
  <div class="content">
    <table class="table table-condensed table-striped table-hover" *ngIf="departures">
      <tr>
        <th>Tipo</th>
        <th>Cuándo</th>
        <th>Desde</th>
        <th></th>
      </tr>
      <tr *ngFor="let depart of departures">
        <td><div [ngClass]="{'tipo-bus': depart.transportType === 1, 'tipo-tren': depart.transportType === 0}">&nbsp;</div></td>
        <td [innerHTML]="depart.momentDate | formatWhen"></td>
        <td><a href="{{depart.placeLink}}" target="_blank">{{depart.placeLabel}}</a></td>
        <td><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></td>
      </tr>
    </table>
  </div>

</div>
