<div class="departure-list-box">

  <!-- <div class="loading"> -->
  <div class="loading" *ngIf="!departures">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>

  <!-- <pre style="font-size:0.7em;text-align:left;">{{departures | json}}</pre> -->
  <div class="content {{customClass}}" (scroll)="onScroll($event)">
    <table class="table table-condensed table-striped table-hover" *ngIf="departures">
      <tr>
        <th>Tipo</th>
        <th>Cuándo</th>
        <th>Desde</th>
        <th></th>
      </tr>
      <tr *ngFor="let depart of departures" (click)="goTransportDetail(depart)">
        <td [ngClass]="{'tipo-bus': depart.transportType === 0, 'tipo-tren': depart.transportType === 1, 'nocturno': depart.isNightly}">
          <span class="line-name">{{depart.label}}</span>
          <span class="nocturnal" title="Servicio nocturno" *ngIf="depart.isNightly">(*Servicio Nocturno)</span>
          <!-- <pre style="text-align:left; font-size:0.7em;">{{depart |json}}</pre> -->
        </td>
        <!-- <td>{{depart.momentDate.format('DD-MM-YYYY')}}</td> -->
        <td [innerHTML]="depart.momentDate | formatWhen">{{depart.momentDate.format('DD-MM-YYYY')}}</td>
        <td><a href="{{depart.placeLink}}" target="_blank">{{depart.placeLabel}}</a></td>
        <td><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></td>
      </tr>
    </table>
  </div>
  <div class="arrow top" *ngIf="customClass === 'one-direction' && !scrollAtTop">
    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
  </div>
  <div class="arrow down" *ngIf="customClass === 'one-direction' && !scrollAtBottom">
    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
  </div>

</div>
