<div>

  <!-- <div class="loading"> -->
  <div class="loading" *ngIf="!departures">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>

  <!-- <pre style="font-size:0.7em;text-align:left;">{{departures | json}}</pre> -->
  <div class="content {{customClass}}">
    <table class="table table-condensed table-striped table-hover" *ngIf="departures">
      <tr>
        <th>Tipo</th>
        <th>Cuándo</th>
        <th>Desde</th>
        <th></th>
      </tr>
      <tr *ngFor="let depart of departures">
        <td><div [ngClass]="{'tipo-bus': depart.transportType === 1, 'tipo-tren': depart.transportType === 0}">&nbsp;</div></td>
        <!-- <td>{{depart.momentDate.format('DD-MM-YYYY')}}</td> -->
        <td [innerHTML]="depart.momentDate | formatWhen">{{depart.momentDate.format('DD-MM-YYYY')}}</td>
        <td><a href="{{depart.placeLink}}" target="_blank">{{depart.placeLabel}}</a></td>
        <td><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></td>
      </tr>
    </table>
    <div class="more" *ngIf="customClass === 'one-direction'" (click)="loadMore()">
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div>
  </div>

</div>
