@import '../../../assets/styles/variables.scss';

.loading {
  padding:2em;
  .fa-spin {
    color:$light-blue;
  }
}

// .tipo-bus {
//   @include bus-icon-bg;
//   background-position: 0.5em 0.3em;
//   @include handset {
//     background-position: 0.3em 0.1em;
//   }
// }
//
// .tipo-tren {
//   @include tren-icon-bg;
//   background-position: 0.5em 0.3em;
//   @include handset {
//     background-position: 0.3em 0.1em;
//   }
// }

.departure-list-box {
  position:relative;
  .content {
    &.one-direction {
      max-height: 25em;
      position:relative;
      overflow: scroll;
      border-radius: 5px;
    }
    table {
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 5px;
      -moz-border-radius: 5px;
      overflow:hidden;
      padding: 0px;
      font-size: 1.2em;
      margin-bottom: 0;


      tr {
        background-color: $light-grey;
        text-align: left;
        font-size: 0.9em;
        &:first-child {
          text-align: center;
        }
        &:hover {
          background-color: $grey-2;
        }

        th {
          font-weight: 400;
          font-size: 0.8em;
          color:$grey;
          &:first-child {
            text-align: center;
          }
        }
        td {
          position:relative;

          &:first-child {
            min-height:3.5em;
            display: inline-block;
            width:5em;
            text-align: center;
            background-position: 2em 0.5em;
            @include handset {
              background-position: 2em 1em;
            }
            span {
              font-size:0.6em;
              display: block;
              margin-top: 3em;
              @include handset {
                margin-top: 0em;
                position:relative;
              }
              &.nocturnal {
                font-size:0.4em;
                margin:0;
              }
            }

            &.tipo-bus {
              span.line-name {
                &:before {
                  position:absolute;
                  content:'';
                  top:1.5em;
                  left:3em;
                  @include handset {
                    left:2.5em;
                  }
                  width:2em;
                  height:2em;
                  @include bus-icon-bg;
                }
              }
            }
            &.tipo-tren {
              span.line-name {
                &:before {
                  position:absolute;
                  content:'';
                  top:1.5em;
                  left:3em;
                  @include handset {
                    left:2.5em;
                  }
                  width:2em;
                  height:2em;
                  @include tren-icon-bg;
                }
              }
            }


          }
          &:nth-child(2) {
            vertical-align: middle;
            font-weight: bold;
            span.en {
              display: block;
            }

            @include handset {
              vertical-align:top;
              font-size: 0.8em;
              span.en {
                font-size: 0.7em;
              }
            }
          }
          &:nth-child(3) {
            vertical-align: middle;
            @include handset {
              vertical-align:top;
            }
            font-size: 0.8em;
          }

          span.glyphicon {
            color: $grey;
            top:1em;
          }
        }

      }
    }
  }

  .arrow {
    position: absolute;
    background-color: $light-blue;
    opacity: .4;
    z-index:50;
    width: 100%;
    left: 0em;
    overflow: hidden;
    &.down {
      top: 23.6em;
      -webkit-border-bottom-right-radius: 5px;
      -webkit-border-bottom-left-radius: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &.top {
      top: 0em;
      -webkit-border-top-right-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-topleft: 5px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }


}
