@import '../../assets/styles/variables.scss';

.row.one-direction {
  margin: 0 auto;
  @include tablet {
    display: table;
  }
  .header {
    background-color: $dark-blue;
    border-radius: 5px;
    color: $light-grey;
    padding:0.3em;
    margin-bottom: 0.5em;
    display:inline-block;
    width:100%;
    position:relative;
    @include handset {
      margin: 1.5em auto;
    }

    h3 {
      @include subtitle-text;
      font-size: 1.5em;
      margin:0.3em;
      float:left;
      @include handset {
        float:none;
        height: 2em;
        padding-top: 1em;
        font-size: 1.4em;
      }
    }
    h4 {
      float:right;
      font-size: 1em;
      margin:0;
      padding: 0.7em 0.4em 0 0;
      color: $light-blue;
      @include handset {
        float:none;
        position:absolute;
        top: -0.2em;
        right: 0.5em;
        font-size: 0.8em;
      }
    }
  }


}
