@import '../../assets/styles/variables.scss';

.row.one-direction {
  margin: 0 auto;
  @include tablet {
    display: table;
  }
  .header {
    background-color: $dark-blue;
    border-radius: 5px;
    color: $light-grey;
    padding:0.3em;
    margin-bottom: 0.5em;
    display:inline-block;
    width:100%;

    h3 {
      @include subtitle-text;
      font-size: 1.5em;
      margin-top:0.3em;
    }
    h4 {
      font-size: 1em;
      margin:0;
      padding: 0.7em 0.4em 0 0;
      color: $light-blue;
    }
  }


}
