<div class="row text-center one-direction">
  <div class="col-md-6 col-xs-12 col-md-offset-3">
    <div class="header">
      <h3>{{directionSelectedLabel}}</h3>
      <h4>{{ dateSelectedLabel }}</h4>
    </div>
    <app-departure-list-box
      [feedType]="'mixDepartures'"
      [customClass]="'one-direction'"
      *ngIf="!showNoDataAvailable">
    </app-departure-list-box>

    <div class="alert alert-warning" role="alert" *ngIf="showNoDataAvailable">No hay salidas encontradas</div>


    <app-actions-button-group
      [customClass]="'one-direction'">
    </app-actions-button-group>

  </div>
</div>
