<div class="row text-center home">
  <div class="col-xs-5 col-xs-offset-1">
    <div class="head">
      <h2>Próximas salidas Cercedilla-Madrid</h2>
    </div>
    <app-departure-list-box
      [feedType]="'mixDeparturesCerceMadrid'"
      [count]="5">
    </app-departure-list-box>
  </div>
  <div class="col-xs-5">
    <div class="head">
      <h2>Próximas salidas Madrid-Cercedilla</h2>
    </div>
    <app-departure-list-box
      [feedType]="'mixDeparturesMadridCerce'"
      [count]="5">
    </app-departure-list-box>
  </div>
</div>
