@import '../../../assets/styles/variables.scss';

.home {
  text-align: center;
  margin:0 auto;
  height:100%;

  .head {
    // @include bus-icon-bg;
  }

  .button-group {
    li {
      width: 50%;
      float:left;
      @include handset {
        width:100%;
      }

      button {
        background-color: $dark-blue;
        border-radius: 10px;
        color:$light-grey;
        font-size: 1em;
        width:70%;
        @include handset {
          width:100%;
          margin-bottom: 1em;
        }
        margin:0 auto;
      }
    }
  }

}
