@import '../../../assets/styles/variables.scss';

.home {
  text-align: center;
  margin:0 auto;
  height:100%;

  .next-departures-head {
    font-size: 1.1em;
    display: inline-block;
    float:left;
    color:$light-blue;
    line-height: 1;
    margin:1em auto 0.5em auto;
    @include handset {
      font-size: 0.8em;
    }
  }
  .next-departures-now-time {
    margin:1em auto 0.5em auto;
    display: inline-block;
    float:right;
    color:$light-blue;
    line-height: 1;
    @include handset {
      font-size: 0.8em;
    }
  }

  .alert-warning {
    margin-top: 3em;
  }

  .note {
    @include regular-text;
    float:left;
    color:$light-grey;
    padding:0.5em 0;
    font-size: 0.7em;
  }

}
