<div class="row contact">
  <div>

  <p>El Intercambiador de Cercedilla nace como un proyecto personal resultado de las prácticas en Angular2.</p>

  <br>

  <p>Aparte del objetivo formativo pretende servir de alguna ayuda a habitantes y visitantes de Cercedilla usuarios
    del transporte público a conocer en tiempo real las diferentes posibilidades existentes.</p>

  <br>
  <p>Los datos de los horarios han sido recogidos de las fuentes oficiales de las compañías de transportes:
  </p>
  <ul>
    <li><a href="http://www.autobuseslarrea.com/lineas-y-horarios/horarios" target="_blank">Autobuses Larrea</a></li>
    <li><a href="http://www.renfe.com/viajeros/cercanias/madrid/" target="_blank">Renfe - Cercanias Madrid</a></li>
  </ul>

  <br>
  <br>
  <p>Para cualquier consulta puedes contactarnos en
    <span class="email">admin@intercambiador.cercemap.org</span>
  </p>


  </div>
</div>
