@import '../../assets/styles/variables.scss';

.contact {
  margin:0;
  p {
    @include regular-text;
    color: $light-grey;
    font-weight: lighter;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin: 0em auto;
    &:first-child {
      margin-top: 2em;
    }
    max-width: 50%;
    @include tablet {
      max-width: 80%;
    }
    @include handset {
      max-width: 100%;
      font-size: 1em;
      padding:0.5em 1em;
    }
    span.email {
      margin-top: 2em;
      color:$light-orange;
      font-size: 1em;
      font-weight: bolder;
    }
  }
  ul {
    margin:0 auto;
    padding:0;
    width: 13%;
    @include handset {
      width: 50%;
    }

    li {
      a {
        color:$light-orange;
        font-weight: bold;
      }
    }
  }
}
