<div class="row tranport-detail">
  <div class="col-md-10 col-xs-12 col-md-offset-1">
    <div class="header">
      <h1>{{lineName}}</h1>
      <h2><span></span>{{directionLabel}}</h2>
      <!-- <h4>Parada Seleccionada: Avda Gonzalez Benjumea</h4> -->
    </div>

    <div class="row">
      <div class="line-route col-xs-12">
        <app-line-route
          [stations]="line.stations"
          [stationSelected]="stationSelected">
        </app-line-route>

        <div class="notes">
          <ul>
            <li>Tiempo estimado de recorrido <span>{{durationEstimated}}</span></li>
            <li *ngIf="timetableStartDateLabel && timetableEndDateLabel">Horarios válidos del <span>{{timetableStartDateLabel}}</span> al <span>{{timetableEndDateLabel}}</span></li>
            <li *ngIf="lineId === 'line-pubtra-684'">Cuando haya celebraciónes de eventos en el centro del pueblo, la salida y llegada de la línea 684  de autobuses, con destino Madrid , se traslada a la puerta del <span>Parque municipal Pradoluengo</span>.</li>
          </ul>
        </div>

        <div class="folleto">
          <a href="{{folletoDownloadLink}}" download>Descargar horario oficial</a>
        </div>
      </div>
      <div class="stop-detail col-xs-12">
        <app-stop-detail
          [stationSelected]="stationSelected">
        </app-stop-detail>
      </div>
    </div>



  </div>
</div>
