<div class="row tranport-detail">
  <div class="col-md-10 col-xs-12 col-md-offset-1">
    <div class="header">
      <h1>{{lineName}}</h1>
      <h2>{{directionLabel}}</h2>
      <!-- <h4>Parada Seleccionada: Avda Gonzalez Benjumea</h4> -->
    </div>

    <div class="row">
      <div class="col-md-5 col-xs-12 col-md-offset-1">
        <app-line-route
          [stations]="line.stations"
          [stationSelected]="stationSelected">
        </app-line-route>
      </div>
      <div class="col-md-6 col-xs-12">
        <app-stop-detail
          [stationSelected]="stationSelected">
        </app-stop-detail>
      </div>
    </div>

  </div>
</div>
