<div class="container">

  <h1>CerceTransport</h1>

  <div class="row">
    <div class="col-xs-3">
      <h4>Próximos trenes Cercedilla - Madrid</h4>
      <table class="table">
        <tr><td>Hora</td><td>Estación</td></tr>
      </table>
    </div>
    <div class="col-xs-3">
      <h4>Próximos trenes Madrid Atocha - Cercedilla</h4>
      <table class="table">
        <tr><td>Hora</td><td>Estación</td></tr>
      </table>
    </div>
    <div class="col-xs-3">
      <h4>Próximos Buses 684 Cercedilla - Madrid Moncloa</h4>
      <table class="table">
        <tr><td>Hora</td><td>Estación</td></tr>
      </table>
    </div>
    <div class="col-xs-3">
      <h4>Próximos Buses 684 Madrid Moncloa - Cercedilla</h4>
      <table class="table">
        <tr><td>Hora</td><td>Estación</td></tr>
      </table>
    </div>
  </div>

</div>
