@import '../../../assets/styles/variables.scss';

ul.line-route {
  // margin:2em auto 0 auto;
  li {
    padding-left:0em;
    height:3em;
    position:relative;
    cursor:pointer;
    span.text {
      color:$light-grey;
      float:left;
      // margin-left:1em;
      line-height: 2em;
      max-width: 33em;
      padding: 0 1em;
    }
    &.selected {
      span.text {
        // background-color: $dark-blue;
        color:$light-orange;
        font-weight: bold;
      }
    }
    div.bullet {
      z-index:50;
      display:inline-block;
      float:left;
      background-color: $light-grey;
      height: 2em;
      width: 2em;
      border-radius: 50%;
      border:4px solid $dark-blue;
      &.limit {
          background-color: $dark-blue;
          &:before {
            position: absolute;
            content:'';
            background-color: $light-grey;
            height: 1.3em;
            width: 1.3em;
            top: 5px;
            left: 0.35em;
            border-radius: 50%;
            border:5px solid $light-blue;
          }

      }
    }
    &:not(:last-child):before {
      position: absolute;
      content:'';
      background-color: $dark-blue;
      height:3em;
      width: 0.3em;
      top: 2em;
      left: 0.86em;
    }
  }
}
