@import '../../../assets/styles/variables.scss';

.page-header {
  margin:0.5em 0 2em 0;
  position:relative;
  @include handset {
    margin:1.5em 0 0em 0;
    .col-xs-11 {
      padding: 0;
    }
  }
  border:0;
  img {
    width:5em;
    float:left;
    @include handset {
      width:2.5em;
    }
  }

  h1 {
    @include large-text;
    padding-top:0.3em;
    margin-left:0.5em;
    display:inline-block;
    @include handset {
      padding-top:0em;
      font-size: 1.5em;
      margin-top: 0em;
    }
  }

  small {
    color: $dark-blue;
    @include handset {
      display: block;
    }
  }

  .navbar-collapse {
    float:right;
    margin-top:1em;
    @include regular-text;

    a {
      color:$light-grey;
      &:hover {
        background-color: $dark-blue;
      }
    }
  }

  .menu-hamburger{
    float:right;
    position: absolute;

    top: 0.5em;
    @include handset {
      top: -2em;
      right:0em;
    }

    .btn-group {
      top: 1.8em;
    }
    @include tablet {
      .btn-group {
        top: -0.7em;
      }
    }

    .btn-primary {
      color:$light-grey;
      background-color: $dark-blue;
    }

    .dropdown-menu {
      min-width: 98px;
      li {
        a {
          color:$light-grey;
          &:hover {
            background-color: $light-blue;
          }
        }
        background-color: $dark-blue;
      }
    }
    .dropdown-menu .divider {
      margin:0;
    }

    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }
}
