<div class="menu">
  <span class="menu-hamburger" (click)="toggleNav()"></span>
</div>

<div id="mySidenav" class="sidenav">
  <!-- <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a> -->
  <a href="home-direction/0">Inicio</a>
  <a routerLink="contact">Contacto</a>
</div>

<div class="page-header">

  <div class="row">
    <div class="col-xs-11 col-md-9">
      <a routerLink="/">
        <img src="assets/img/logo-flechas-3.png" alt="Logo intercambiador">
        <!-- <img src="assets/img/cercedilla_escudo.png" alt="Escudo de Cercedilla"> -->
        <h1>El Intercambiador <small>Cercedilla</small></h1>
      </a>
    </div>

    <div class="col-xs-1 col-md-3">
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#">Quienes somos</a></li> -->
            <!-- <li><a routerLink="contact">Contacto</a></li> -->
         </ul>
        </div>
    </div>
  </div>


</div>
