<div class="table-responsive">

  <div class="" *ngIf="!departures">
    Loading...
  </div>

  <!-- <pre style="font-size:0.7em;text-align:left;">{{departures | json}}</pre> -->
  <div class="content">
    <table class="table table-condensed table-striped table-hover" *ngIf="departures">
      <tr>
        <th>Tipo</th>
        <th>Cuándo</th>
        <th>Desde</th>
        <th></th>
      </tr>
      <tr *ngFor="let depart of departures">
        <td><div [ngClass]="{'tipo-bus': depart.transportType === 1, 'tipo-tren': depart.transportType === 0}">&nbsp;</div></td>
        <td>
          {{ depart.momentDate | formatWhen }}
          <!-- / {{ depart.momentDate.format('HH-mm') }} -->
        </td>
        <td><a href="{{depart.placeLink}}" target="_blank">{{depart.placeLabel}}</a></td>
        <td><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></td>
      </tr>
    </table>
  </div>

  <ul class="button-group">
    <li><button type="button" class="btn btn-lg btn-block">Ver todos los horarios de hoy</button></li>
    <li><button type="button" class="btn btn-lg btn-block">Ver por fecha</button></li>
  </ul>

</div>
