@import '../../assets/styles/variables.scss';

.tipo-bus {
  @include bus-icon-bg;
  background-position: 1.2em 0.3em;
}

.tipo-tren {
  @include tren-icon-bg;
  background-position: 1.2em 0.3em;
}

.content {
  table {
    border-collapse: separate;
    border-spacing: 0;
    // border-radius: 10px;
    // border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    overflow:hidden;
    padding: 0px;
    font-size: 1.2em;
    tr {
      background-color: $light-grey;
      text-align: left;
      &:first-child {
        text-align: center;
      }
      &:hover {
        background-color: $grey-2;
      }

      td,th {
        &:first-child {
          text-align: center;
        }
        &:nth-child(3) {
          font-size: 0.8em;
        }

        span.glyphicon {
          color: $grey;
        }
      }

    }
  }
}

.button-group {
  li {
    width: 50%;
    float:left;

    button {
      background-color: $dark-blue;
      border-radius: 10px;
      color:$light-grey;
      font-size: 1em;
      width:70%;
      margin:0 auto;
    }
  }
}
