<ul class="button-group {{customClass}}">
  <li class="with-today" *ngIf="withToday">
    <button type="button" class="btn btn-lg btn-block" (click)="gotoMixDirectionSelected()">Ver todos los horarios de hoy
    </button>
  </li>
  <li class="date-selector" (click)="openSelector()">
    <h4>Ver los horarios por fecha:</h4>

    <!-- <h4>{{nowDateLabel}}</h4> -->
    <form #myForm="ngForm" novalidate>
      <my-date-picker #mydp="mydatepicker"
                      name="mydate"
                      locale="es"
                      [options]="myDatePickerOptions"
                      (dateChanged)="onDateChanged($event)"
                      [(ngModel)]="dateSelectedDP" required></my-date-picker>

    </form>
  </li>
</ul>
